<h1>Reset Password</h1>

<form action="/request-password-reset" method="post">
	<fieldset>
		<legend>Reset Password Form</legend>
		<div>
		<label for="email">Email:</label>
		<input type="text" name="email">
		</div>
		<div>
		<input type="submit" value="Reset password">
		</div>
	</fieldset>
</form>
